.active-item {
    border-left: 8px solid var(--ion-color-primary);
  }
  .icon {
    margin-right: 10px;
  }
  .circle-pic {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .pic-item {
    align-items: left;
    border-block-end: 1px;
  }