<ion-split-pane>
  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{title}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item>
            <ion-icon tappable routerLink="/menu/home" name="home" class="icon"></ion-icon>
            <ion-label tappable routerLink="/menu/home">
              Home
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon tappable routerLink="/menu/modified" name="construct" class="icon"></ion-icon>
            <ion-label tappable routerLink="/menu/modified">
              Modified Files
            </ion-label>
          </ion-item>

          <!-- <ion-item>
            <ion-icon tappable routerLink="/menu/newfiles" name="fastforward" class="icon"></ion-icon>
            <ion-label tappable routerLink="/menu/newfiles">
              New Files
            </ion-label>
          </ion-item> -->
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="sync()">
            <ion-icon name="sync" slot="start"></ion-icon>
            Sync
          </ion-item>

          <ion-item (click)="logout()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            Logout
          </ion-item>

          <ion-item (click)="exit()">
            <ion-icon name="close" slot="start"></ion-icon>
            Exit
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>