<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Modified Files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-label class="ion-text-left">Last Synced: <br> {{syncDate}}</ion-label>
    <ion-item-divider></ion-item-divider>
    <ion-input name="uid" type="number" [(ngModel)]="timeInterval" placeholder="Days Interval" class="ion-text-center"
      [attr.maxlength]="5"></ion-input>
    <ion-button expand="full" fill="solid" (click)="decorate()">Set Intervel Days</ion-button>
  </ion-list>
  <ion-list *ngFor="let file of this.files">
    <ion-card (click)="dclick(file)">
      <ion-card-title>
        <ion-label>
          <ion-icon name="document" color="primary"></ion-icon>
        </ion-label>
        {{file.name}}
      </ion-card-title>
      <ion-card-subtitle>
        {{file.size}} KB
      </ion-card-subtitle>
      <ion-card-subtitle>
        Modified: {{file.updatedAt}}
      </ion-card-subtitle>
      <ion-icon name="download" class="spec-icon"></ion-icon>
      <div [hidden]=file.progressHidden>
        <ion-progress-bar type="determinate" value={{file.percentage}}></ion-progress-bar>
      </div>
    </ion-card>
  </ion-list>
</ion-content>