$colors: (
  primary: #000000,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  black: #000000
);

.mydiv {
  text-align: center;
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding-top: 10px; 
}

.table {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 0px solid black;
  background: #ffffff;
}

tr {
  border: 0px solid black;
}

.image {
  width: 250px;
  height: 250px;
}
.myprogressbar {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
td {
  text-align: left;
  padding: 5px 20px;
  vertical-align: super;
  background: #ffffff;
}

ion-input {
  border: 2px solid map-get($colors, primary);
  margin: 5px auto;
  text-align: left;
  padding: 5px 10px;
  border-radius: 24px;
  width: 100%;
  height: 40px;
  font-size: 15px;
  color: #000000;
  background: #ffffff;
}

.input-list {
  width: 100%;
  padding-top: 5px;
  text-align: center;
  margin-top: 5px;
  background: #ffffff;
}

ion-button {
  width: 100%;
  margin: 5px auto;
  border-radius: 24px;
  height: 40px;
  font-size: 15px;
  background: #000000;
}

.sada {
  background: #ffffff;
}
