<ion-header>
</ion-header>
<ion-content>
  <div class="mydiv">
      <table class="table">
          <tr class="image-row">
            <td style="text-align: center;">
              <div [hidden]=isHidden><ion-progress-bar type="indeterminate" ></ion-progress-bar></div>
            </td>
          </tr>
          <tr>
            <td>
              <img src="../../../assets/images/logo.png">
            </td>
          </tr>
          <tr>
            <td>
              <ion-list lines="none" class="input-list">

                  <ion-input name="uid" type="text" [(ngModel)]="email" placeholder="Email">
                    <ion-icon name="person"></ion-icon>
                  </ion-input>


                  <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Password">
                    <ion-icon name="lock"></ion-icon>
                  </ion-input>

                  <ion-button shape="round" expand="full" fill="solid" [disabled]=!loginEnabled (click)="login()">Login</ion-button>

              </ion-list>
            </td>
          </tr>
        </table>
  </div>
  
</ion-content>