$colors: (
  primary:    #000000,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  tertiary:   #002970,
);

ion-card {
    margin: 0px;
    padding: 5px;
    padding-right: 10%;
    // font-size: 20px;
    text-align: left;
}

.transp {
    background-color: transparent;
}

.image-div {
    text-align: center; 
}

.card-div {
    text-align: left;
}

/*ion-content {
    background: map-get($colors, primary);
}
*/
.spec-icon {
    color: map-get($colors, primary);
    background-color: transparent;
    position: absolute;
    left: 85%;
    top: 15%;
    height: 25px;
    width: 25px;
}

ion-card-title {
    font-size: large;
}

ion-card-subtitle {
    font-size: medium;
}

.side-button {
    position: absolute;
    left: 90%;
    // background-color: map-get($colors, light);
    color: map-get($colors, light);
    top: 5%;
}

.content-div {
    padding: 5px;
    height: 100%;
    width: 100%;
}