<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-tab-button (click)="go_upward()" class="transp">
        <ion-icon name="arrow-round-up" color="light" class="transp"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-div">
      <ion-list *ngFor="let folder of this.folders">
          <ion-card (click)="prepare_folder(folder.id)">
            <ion-card-title>
              <ion-label>
                <ion-icon name="folder" color="primary"></ion-icon>
              </ion-label>
              {{folder.name}}
            </ion-card-title>
            <ion-card-subtitle>
              Modified: {{folder.updatedAt}}
            </ion-card-subtitle>
          </ion-card>
        </ion-list>
      
        <ion-list *ngFor="let file of this.files">
          <ion-card (click)="dclick(file)">
            <ion-card-title>
              <ion-label>
                <ion-icon name="document" color="primary"></ion-icon>
              </ion-label>
              {{file.name}}
            </ion-card-title>
            <ion-card-subtitle>
              {{file.size}} KB
            </ion-card-subtitle>
            <ion-card-subtitle>
              Modified: {{file.updatedAt}}
            </ion-card-subtitle>
            <ion-icon name="download" class="spec-icon"></ion-icon>
            <div [hidden]=file.progressHidden>
              <ion-progress-bar type="determinate" value={{file.percentage}}></ion-progress-bar>
            </div>
          </ion-card>
        </ion-list>
  </div>
</ion-content>