<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sync</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]=isHidden><ion-progress-bar type="indeterminate" ></ion-progress-bar></div>
</ion-content>
